@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Montserrat',
    sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --main-pink: #ff99c8;
  --main-yellow: #fcf6bd;
  --main-green: #d0f4de;
  --main-blue: #a9def9;
  --main-purple: #e4c1f9;

  --main-dark-green: #9FE3BA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h1{
  font-size: 1.6rem;
  font-weight: 400;
}

input{
  background-color: white;

  border: none;
}

input::placeholder{
  color: black;
}

.bdR5{
  border-radius: 5px;
}

.bdR10{
  border-radius: 10px;
}

.btn1{
  display: flex;
  background-color: var(--main-dark-green);

  border: none;

  padding: 0.5rem 1rem;
}

.btn1 h1{
  display: block;

  text-align: center;

  margin: 0 4rem;
}

.shadowGreen{
  box-shadow: 0 2px 10px var(--main-green);
}

.underSpan{
  display: block;
  text-decoration: underline;
  text-align: end;

  width: 100%;
  margin-bottom: 1rem;
}

.thinkPassowrd{
  display: block;
  width: 100%;

  text-align: start;
  margin-bottom: 1rem;
}

.mainScreen{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.divExitOrSignUp{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  position: relative;


  align-items: center;

  background-color: var(--main-green);

  margin: auto;
  padding: 4rem 3rem;

  width: 55%;
  /* height: 60vh; */
}

.divExitOrSignUp input{
  width: 100%;

  margin-bottom: 1.2rem;
  padding: 0.5rem 1rem;
}

.divExitOrSignUp > h1{
  margin-bottom: 2.5rem;
}

.divExitOrSignUp span:hover{
  color: var(--main-blue);
}

.circle{
  position: absolute;

  border-radius: 50%;
}