@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Montserrat',
    sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  min-height: 100vh;
  display: flex;
}

:root{
  --main-orange: #fb8500;
  --main-yellow: #ffb703;
  --main-blue: #8ecae6;
  --main-dark-blue: #219ebc;
  --main-dar-dar-blue: #0f171c;

  --main-blue-blue: #5fa9cb;
  --main-green-grand: #A8E4A0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* constats of project */

.h1{
  font-size: 1.6rem;
  font-weight: 400;
}

.h3{
  font-size: 1.2rem;
  font-weight: 400;
}

.mrTB1{
  margin: 1rem 0;
}

a{
  text-decoration: none;
  color: black;
}

input,
select{
  background-color: white;

  border: none;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::placeholder{
  color: black;
}

.bdr5UP{
  border-radius: 5px 5px 0 0;
}

.bdR5{
  border-radius: 5px;
}

.bdR10{
  border-radius: 10px;
}

.btn1{
  display: flex;
  border: none;
  padding: 0.5rem 1rem;
}

.btn2{
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.4rem 0.6rem;
}

.btnBlue{
  background-color: var(--main-blue);
}

.btnOrange{
  background-color: var(--main-orange);
}

.btnGreen{
  background-color: var(--main-blue-blue);
}

.btnYellow{
  background-color: var(--main-yellow);
}

.btnPink{
  background-color: var(--main-orange);
}

.btnGreenGrand{
  background-color: var( --main-green-grand);
}




.btn1:hover,
.btn2:hover{
  background-color: green;
}

.btnLightGreen{
  background-color: var(--main-blue);
}

.btn1 h1{
  display: block;

  text-align: center;

  margin: 0 4rem;
}

.shadowGreen{
  box-shadow: 0 2px 10px var(--main-blue);
}

.underSpan{
  display: block;
  text-decoration: underline;
  text-align: end;

  margin-bottom: 1rem;
}

.exitSignUnderLine{
  width: 100%;
}

.exitSignUnderLine span{
  float: right;
}

/* page of Exit */

.thinkPassowrd{
  display: block;
  width: 100%;

  text-align: start;
  margin-bottom: 1rem;
}

.mainScreen{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.divExitOrSignUp{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  position: relative;

  align-items: center;

  background-color: var(--main-blue);

  margin: auto;
  padding: 4rem 3rem;

  width: 55%;
  /* height: 60vh; */
}

.divExitOrSignUp input,
#addProject input,
#addProject select,
#editProject input,
#editProject select,
.scrolls input,
.scrolls select,
.planMenu select, 
.planMenu input,
#blockAddLessUni select, 
#blockAddLessUni input{
  width: 100%;

  padding: 0.5rem 1rem;
}

.mesForUserText{
  margin-top: 2rem;
}

.divExitOrSignUp input{
  margin-bottom: 1.2rem;
}

.divExitOrSignUp > h1{
  margin-bottom: 2.5rem;
}

.divExitOrSignUp span:hover,
.rightNav h1:hover,
.workScheduleMain .leftNav h3:hover{
  color: var(--main-dark-blue);
}

/* .rightNav{
  position: absolute;
} */

.circle{
  position: absolute;

  border-radius: 50%;
}

/* Page of WorkPlace*/

.workMain,
.workScheduleMain{
  display: flex;
  flex-wrap: wrap;
}

.sideBar{
  height: 100vh;
  width: 20vw;

  display: flex;
  flex-direction: column;
  
  background-color: var(--main-dark-blue);
}

.sideBar img{
  width: 50%;

  margin: 3rem auto 1rem auto;
}

.sideBar > span{
  width: 100%;
  padding: 0 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center;
}


.openWorks{
  width: 85%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  white-space: wrap;

  background-color: var(--main-yellow);

  margin: 1rem auto;

}

.openWorks h3{
  margin: 1rem auto 0.5rem auto;
}

.openWorksBlock{
  overflow-y: auto;
  width: 100%;
  margin: 0 auto;
}

.openWorksBlock .theme{
  width: 80%;
  margin: 0.7rem 0.7rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.bodyWork{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 80vw;

  padding: 3rem 4rem 1rem 1rem;
}

.leftNav{
  display: flex;
  flex-direction: row;
}

.leftNav button{
  margin-left: 3rem;
}

.leftNav button span{
  margin: auto;
}

.nameBlock{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-orange);
  padding: 0.5rem 0.8rem;
}

.workBodyShedules{
  width: 80vw;
  height: 80vh;
}

.workPlaceSchedules{
  width: 90%;
  height: 100%;

  background-color: var(--main-dark-blue);
  margin: 0rem 1rem 0rem 1rem;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.emptySch{
  background-color: white;
  width: 80%;
  
  margin: auto;
  padding: 1rem 2rem;
}

.divLoad{
  margin: auto;
}

#load {
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 4px solid var(--main-yellow);
  border-top-color: transparent;
  animation: Rotate .3s linear infinite;
  margin: auto;
}

@keyframes Rotate {
  from {transform: rotate(-360deg);}
}

.emptySch h1{
  text-align: center;
}

.scheduleBlock{
  display: flex;
  flex-direction: column;

  background-color: white;
  
  padding: 1rem 2rem;
  margin: 1rem 1.5rem;
}

.scheduleBlock span{
  margin-top: 0.6rem;
}

.buttonSchedule{
  display: flex;
  justify-content: space-between;

  margin-top: 0.5rem;
}

#blockWithClose,
#blockWithCloseMES,
#blockWithCloseMESCONFIRM,
#blockWithCloseSett,
#blockWithCloseAddPlan,
#blockWithCloseAddTeachs{
  display: none;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top:0;
  left: 0;
}


#blockWithCloseSett,
#blockWithCloseAddPlan,
#blockWithCloseAddTeachs{
  display: flex;
  z-index: 10;
}



#blockWithCloseMESCONFIRM{
  z-index: 10;
}

#blockWithCloseMES{
  z-index: 12;
}

#addProject,
#editProject,
#mesBloack,
#mesBloackCONFIRM{
  margin: auto;  

  width: 50%;
  max-height: 70%;
  overflow-y: scroll;

  display: none;
  flex-direction: column;
  

  padding: 2.5rem 2.5rem 3.5rem 2.5rem;

  background-color: white;
}

#blockWithCloseMESCONFIRMYN,
#blockWithCloseAddLessonUni{
  display: block;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top:0;
  left: 0;
  z-index: 11;
}


#mesBloackCONFIRMYN{
  margin: auto;

  margin-top: 15%;
  width: 50%;
  height: 50%;
  max-height: 70%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  

  padding: 2.5rem 2.5rem 3.5rem 2.5rem;

  background-color: white;
  z-index: 12;
}

#settings{
  margin: auto;

  width: 55%;
  height: 80%;


  display: flex;
  flex-direction: column;

  padding: 2.5rem 2.5rem 3.5rem 2.5rem;

  background-color: white;
  z-index: 10;
}

#windowSug{
  margin: auto;

  width: 80%;
  height: 95%;


  display: flex;
  flex-direction: column;

  padding: 2.5rem 2.5rem 3.5rem 2.5rem;

  background-color: white;
  z-index: 10;
}


#blockWithCloseSett #settings form .input-file-text span,
#blockWithCloseAddPlan #blockAddOrEdit .input-file-text span,
#blockWithCloseAddTeachs #blockAddOrEdit .input-file-text span{
  display: inline-block;
  margin: auto;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#blockAddOrEdit{
  margin: auto;

  width: 55%;
  /* height: 65%; */


  display: flex;
  flex-direction: column;

  padding: 2.5rem 2.5rem 3.5rem 2.5rem;

  background-color: white;
}

#mesBloack{
  z-index: 13;
  width: 55%;
}

#mesBloackCONFIRM{
  z-index:11;
  width: 55%;
}

#addProject #close,
#editProject #close,
#mesBloack #close,
#mesBloackCONFIRM #close,
#settings #close,
#blockAddLessUni #close{
  width: 1rem;
  height: 1rem;
}

#addProject #close:hover,
#editProject #close:hover,
#mesBloack #close:hover{
  color: var(--main-orange);

  cursor: pointer;
}

.closeCreate{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#addProject input,
#addProject select,
#editProject input,
#editProject select,
.scrolls input,
.scrolls select,
#blockAddOrEdit select,
#blockAddOrEdit input,
.planMenu select, 
.planMenu input,
#blockAddLessUni select,
#blockAddLessUni input{
  border: 0px solid #ccc;
  box-shadow: 0px 2px 10px  rgba(0, 0, 0, .2);
}

.onebtn button,
.onebtn button{
  margin-top: 2rem;
  margin-left: auto;
  width: 40%;
  
}

.onebtn button span,
.onebtn button span{
  margin: auto;
}

.twobtnInBlock{
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-top: 2rem;
}


.yes_no{
  margin-top: 2rem;

  display: flex;
  justify-content: end;
}

.yes_no button{
  margin-left: 2rem;
}

/*  WorkSchedule page */

.rightNav{
  display: flex;
  justify-content: space-between;
}

.rightNav p{
  margin: auto;
  margin-right: 1rem;
}

.workScheduleMain .rightNav button{
  padding-left: 3rem;
  padding-right: 3rem;
}

.back{
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0.8rem;
}

.workSchedule{
  width: 95%;
  height: 100%;

  background-color: var(--main-dark-blue);
  margin: 0rem 1rem 0rem 1rem;

  overflow-y: auto;
  overflow-x: auto;
  display: flex;

  padding: 1rem 1rem;

  flex-direction: column;
  position: relative;
}

.navSchedule{
  display: flex;
  flex-wrap: wrap;

  /* flex-direction:column; */

  justify-content: space-between;
  
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;

  white-space: nowrap;
}

.buttons{
  display: flex;
  height: 100%;
  white-space: nowrap;
  width: 60%;
}

.navSchedule::-webkit-scrollbar,
.scrolls::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none
}

.menuPos{
  padding: 0.5rem 0.5rem;

  display: inline-block;
  cursor: pointer;
}

.menuAndSchedule{
  width: 100%;
  height: 100%;

  overflow-y: auto;
  overflow-x: auto;

  background-color: white;

  /* position: relative; */
}

/* WORK SCHEDULE PAGE */


form{
  width: 100%;
}

.input-file {
  width: 100%;
	position: relative;
	display: inline-block;
}

.input-file-text {
	padding: 0 10px;
	/* line-height: 10vh; */
	text-align: left;
	height: 6vh;
	display: block;
	float: left;
	box-sizing: border-box;
	width: 70%;

	border: 1px solid #ddd;
}
.input-file-btn {
  position: relative;
	/* display: inline-block; */
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 0 4px 4px 0;
	background-color: var(--main-blue-blue);
	height: 6vh; 
	box-sizing: border-box;
	border: none;
  width: 30%;
	transition: background-color 0.2s;
  display:table;
}

.input-file-btn span{
  display:table-cell;
  vertical-align:middle;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: var(--main-dark-blue);
}
.input-file:active .input-file-btn {
	background-color: var(--main-dar-dar-blue);
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}

.datePeriod{
  display: table;
  justify-content: space-between;

  margin-top: 1rem;
  width: 100%;
}

.datePeriod span,
.datePeriod form{
  width: 50%;
  margin: auto;
}

.datePeriod input{
  display: table-cell;
  text-align:end;
}

.datePeriod span{
  display: table-cell;
  vertical-align: middle;

}

.datePeriod label{
  width: 100%;
}

.scrolls{
  width: 100%;
  overflow-y: auto;

  margin-top: 1.5rem;
  padding: 0.5rem 0.5rem;
}

.scrolls input,
.scrolls select,
.scrolls span{
  margin: 0.8rem 0;
}

.scrolls #selectPeriod{
  margin-top: 0;
}

#courses .datePeriod span{
  padding-right: 25%;
  text-align: right;
}

#courses .datePeriod form{
  background-color: var(--main-blue);
  transition: background-color 0.2s;
  height: 100%;
  width: 100%;
}

#courses .datePeriod form label{
  text-align: right;
  padding: 0.8rem 1rem;
  cursor: pointer;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#courses .datePeriod form label:hover{
  background-color: var(--main-blue-blue);
}

.menuPos:active{
  box-shadow: 1px -5px 26px rgba(0, 0, 0, 0.51);
}

.planMenu{
  display: flex;
  flex-direction: column;

  padding: 3rem 2rem;
}

.planMenu button{
  width: 50%;

  margin-bottom: 1rem;
}

.planMenu button span{
  margin: auto;
}

#blockAddOrEdit select{
  margin-top: 1.5rem;
  padding: 0.8rem 0.5rem;
}

#blockWithCloseAddTeachs input{
  margin: 0.5rem 0;
  padding: 0.8rem 0.5rem;
}

#blockWithCloseAddTeachs #h1{
  margin: 1.2rem 0;
}

#blockAddOrEdit form{
  padding: 0;
  margin-top: 1.5rem;
}

/* #blockAddOrEdit {
  padding: 1rem;
} */

.rightNav,
.dis_sp{
  position: relative;
}


.rightNav .tool-text{
  visibility: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.dis_sp .tool-text{
  visibility: hidden;
  position: absolute;
  z-index: 2;
  width: 50%;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}


#dow:hover .tool-text,
#queT:hover .tool-text {
  visibility: visible;
}

.rightNav #bottom {
  top: 45px;
  left: -43%;
}

.rightNav #bottom::before {
  top: -5%;
  left: 45%;
}

.dis_sp #bottom {
  top: 45px;
  right: 0;
}

.dis_sp #bottom::before {
  top: -5%;
  left: 45%;
}

.dis_sp{
  display: flex;
  justify-content: space-between;
}

.que{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;

  display: block;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.que img{
  padding-left: 40%;
}

.planMenu select{
  margin-bottom: 1.5rem;
}

#chooseSch{
  display: flex;
  flex-direction: column;

  width: 70%;
}

.sch{
  display: flex;
  flex-wrap: wrap;

  position: relative;
  padding-bottom: 2rem;
}

.lineH{
  position: absolute;

  height: 1.3px;
  background-color: black;
}

.lineV{
  position: absolute;

  width: 1.3px;
  background-color: black;
}


.timeSch,
.weeks,
.class{
  position: absolute;
}

.class{
  display: flex;
  width: 180px;
}

.emptyBlock{
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;

  background-color: rgba(255, 255, 255, 1);
}

#saveChanges{
  position: absolute;

  z-index: 10;
  
  right: 2rem;
  bottom: 2rem;
}

.schBlockMenus{
  width: 100%;
  height: 100%;

  position: relative;
}

.saveOrAdd{
  display: flex;

  /* position: absolute;
  right: 10px; */
  /* margin: 0.2rem auto; */
}

.saveOrAdd button{
  padding: auto;
}

.lesson{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  position: absolute;

  overflow-y: hidden;

  width: 178px;
  padding: 0.2rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

.lesson span{
  width: 100%;

  font-size: 0.75rem;

  padding: 0.1rem;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#blockAddLessUni{
  display: flex;
  flex-direction: column;

  margin: auto;
  max-height: 80vh;
  width: 60%;
  
  margin-top: 11vh;
  padding: 2.5rem 2.5rem 3.5rem 2.5rem;

  background-color: white;
  z-index: 12;

  overflow-y: scroll;
}

#blockAddLessUni .datePeriod{
  margin: 0.5rem 0;
}

#blockAddLessUni select{
  margin: 0.2rem 0;
}

#blockAddLessUni #selectSubLesson{
  margin: 1rem 0;
}

#blockAddLessUni #selectClassLesson,
#blockAddLessUni #selectPeriodLesson{
  margin: 1rem 0;
}

.sch .divLoad,
.sugScroll .divLoad{
  margin: 20% 45%;

}

.sugScroll .infoPeriod{
  margin: 0.2rem 0;
}

.suggestions{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin-top: 1rem;

  /* overflow:hidden; */

  padding: 0.5rem 0;
}

.sugScroll{
  display: flex;
  flex-direction: column;

  position: relative;
  height: 100%;
  overflow-y: hidden;

  margin-top: 1rem;
}

.suggestions .countLessons{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  position: absolute;
  width: 35%;
  height: 90%;
}

.suggestions #suggs{
  display: flex;
  
  flex-wrap: wrap;

  /* padding: 0 0.5rem; */

  position: absolute;
  left: 40%;
  width: 60%;
  height: 75%;

  overflow-y: scroll;
}


.suggestions .countLessons .btn1{
  margin-bottom: 0.5rem;
}

#suggs form{
  margin-bottom: 5rem;
}

#suggs .checkboxSugs{
  display: flex;

  width: 100%;

  margin: 0.5rem 0;

  padding: 0.5rem;
}

#suggs .checkboxSugs span{
  display: block;

}

#suggs .checkboxSugs input{
  margin-right: 1rem;
  
}

input[type='radio'] {
  transform: scale(2);
}

.suggestions .onebtn{
  width: 100%;
  position: absolute;
  bottom: 0;
}
